# Sanity CMS
NEXT_PUBLIC_SANITY_PROJECT_ID=6k0ekm0q
NEXT_PUBLIC_SANITY_DATASET=production

# Email SMTP Settings (Nodemailer)
# Replace with your mail server details (e.g. cPanel webmail, Titan, Google Workspace, etc.)
SMTP_HOST=mail.mkaruppiah.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=info@mkaruppiah.com
SMTP_PASS=your_email_password_here
CONTACT_RECEIVER_EMAIL=info@mkaruppiah.com
